.header {
    background-color: #A31C32;
}

.header #tab-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
}

#tab-image {
    height: 50px;
}

#tab-itens {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.itens {
    color: black;
}

.header .main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #A31C32;
    justify-content: center;
}

#main-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-text .title {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: white;
}

.title {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 60px;
    color: black;
}

#main-text .text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: black;
}

#main-text #button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
    background-color: #e95f42;
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    margin-top: 20px;
}

#cellphone{
    width: auto;
    height: 400px;

}