.header {
    background-color: #A31C32;
    padding-top: 90px;
}

.header #tab-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

#tab-image {
    height: 50px;
}

#tab-itens {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.itens {
    color: black;
    position: relative;
    text-decoration: none;
    padding: 5px 0;
    background-image: linear-gradient(45deg, #ff4353, #ffd294);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: background-size 0.5s ease, -webkit-text-fill-color 0.5s ease;
}

.itens:hover {
    background-size: 100% 100%;
    -webkit-text-fill-color: transparent;
}

.header .main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #A31C32;
    justify-content: center;
}

#main-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-text .title {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: white;
}

#main-text .text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: black;
    width: 75%;
}

.bnt-div {
    margin-top: 100px;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.btn-header {
    color: #fff;
    background-color: #e95f42;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.btn-header::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(45deg, #ff4353, #ffd294);
    background-size: 200%;
    opacity: 0;
    transition: opacity 0.6s ease, background-position 0.6s ease;
    z-index: 0;
}

.btn-header:hover::before {
    opacity: 1;
    background-position: right center;
}

.btn-header > button {
    position: relative;
    z-index: 2;
    background: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

#cellphone {
    width: auto;
    height: 400px;

}