.justificativa {
    display: flex;
    flex-direction: row;
    background-color: grey;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#boxes {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80%;
    width: 80%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.box-1,
.box-2,
.box-3 {
    height: 300px;
    width: 280px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.box-1 {
    background-color: green;
    z-index: 1;
    transform: translate(calc(45% - 540px), -50%);
}

.box-2 {
    background-color: red;
    z-index: 2;
    transform: translate(calc(45% - 270px), -50%);
}

.box-3 {
    background-color: blue;
    z-index: 3;
    transform: translate(45%, -50%);
}

.icone{
    width: 50px;
    height: auto;
}