
.problematica {
    background-color: white;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#problematica-text {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.problematica .dados {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#dado-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 110px;
    color: #A31C32;
}

#dado {
    background-color: #fedad4;
    padding: 20px;
    width: 6.5cm;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#dado #dado-text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #A31C32;
}

#cards {
    display: flex;
    flex-direction: row;
}

.card-1, .card-2, .card-3 {
    background-color: #fedad4;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    height: 110px;
    width: 220px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-text{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: #A31C32;
    text-align: center;
}

.title-card{
    font-family: "Murecho", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #A31C32;
    line-height: 1.5cm;
    margin-left: 20px;
}