.coming {
    background: linear-gradient(45deg, #ff4353, #ffd294);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    color: white;
    line-height: 3cm;
    margin-bottom: 10px;
}

.sub-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 50px;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #ff4353;
  border-right-color: #ffd294;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
