.footer {
    background-color: #ad2a3a; 
    color: #ffe4cd;  
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.footer-left {
    width: 30%;
}

.footer-icon {
    width: 90px;
    margin-bottom: 15px;
    margin-left: 45px;
}

blockquote {
    line-height: 1.4;
    font-size: 13px;
    font-style: italic;
}

strong{
    font-family: "Murecho", sans-serif;
    font-style: normal;
}

.footer-center {
    width: 30%;
}

.footer-center h2 {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
    font-family: "Murecho", sans-serif;
}

.footer-center ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
    line-height: 1.6;
}

.footer-right {
    width: 30%;
    display: flex;
    gap: 25px;
}

.card {
    background-color: #ffe4cd;   
    color: #9e1931;         
    border-radius: 20px;
    width: 180px;
    height: 160px;
    text-align: center;
    padding: 20px 10px;
}

.card-img {
    width: 80px;
    margin-bottom: 10px;
}

.card p {
    font-size: 12px;
    padding: 0;
}